# Dependencies
node_modules/

# Build
dist/

# Environment
.env
.env.*

# Prisma
prisma/dev.db
prisma/dev.db-journal

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Coverage
coverage/

# TypeScript
*.tsbuildinfo
/generated/prisma


# Postman collection sensitive environment variables
postman/*.json